* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --background:#f8f8f8;
  --purple-background: #835afd;
  --text-standard: #29292e;
  --text2:#737380;
  --white-text: #FFF;
  --white-text-fade:#f8f8f8;
  --input: #FFF;
  --input-border: #a8a8b3;
  --separator: #a8a8b3;
  --text:#737380;
  --link: #e559f9;
  --header-border: #e2e2e2;
  --text-area: #fefefe;
}

body{
  background: var(--background);
  color: var(--text-standard);
}

a {
  color: inherit;
  text-decoration: none;
}

body, input, button, textarea{
  font: 400 1rem 'Roboto', sans-serif;
} 