.question{
    background: var(--text-area);
    border-radius: 8px;
    box-shadow: 0 2px 12px  rgba(0, 0, 0, 0.04);
    padding: 24px;

    & + .question{
        margin-top: 8px;
    }

    
    &.highlighted{
        background: var(--highlighted);
        border: 1px solid var(--purple-background);
        
        footer .user_info span{
            color: var(--text-standard)
        }
    }
    
    &.answered{
        background: var(--answered);
    }

    p{
        color: var(--text-standard)
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user_info{
            display: flex;
            align-items: center;

            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span{
                margin-left: 0.5rem;
                color: var(--text2);
                font-weight: 500;
                font-size: 1rem;
            }
        }

        > div{
            display: flex;
            gap: 16px;
        }

        button{
            border: 0;
            background: transparent;
            cursor: pointer;

            //se tiver a classe like-button
            &.like_button{
                display: flex;
                align-items: flex-end;
                color: var(--text2);
                gap: 8px;
                transition: filter 0.2s;

                &.liked{
                    color: var(--purple-background);

                    svg path{
                        stroke: var(--purple-background);
                    }
                }

                & :hover{
                    filter: brightness(0.7);
                }
            }
        }
    }
}