.room_code{
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: var(--white-text);
    border: 1px solid var(--purple-background);
    cursor: pointer;

    display: flex;

    div{
        background: var(--purple-background);
        padding: 0 12px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%; //Conserta bug no CHROME
    }

    span{
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        max-width: 230px;
        font-size: 14px;
        font-weight: 500;
    }
}